/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

button {
    cursor: pointer;
}

header {
    height: 500px;
    background-color: #3400ff;
}

nav {
    float: right;
    margin-top: 15px;
    margin-right: 40px;
}

.nav-item {
    margin-right: 20px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.nav-item-active {
    color: #3400ff;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 2px;
    margin-right: 20px;
}

nav svg {
    transform: scale(1.2);
}

.menu-icon {
    height: 32px;
    display: none;
    cursor: pointer;
}

.logo {
    margin: 40px;
}

.header-text {
    color: #ffffff;
    margin-left: 60px;
    margin-top: 50px;
    float: left;
}

.header-text h2 {
    font-size: 40px;
    padding: 10px 0;
}

.header-image {
    float: right;
}

.companies {
    margin-left: 60px;
}

.company-items {
    font-family: "Righteous", sans-serif;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
}

.api {
    padding: 40px 60px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
}

.cards .card-active {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 65px 20px 25px;
    border-radius: 10px;
}

.cards .card {
    padding: 10px 65px 20px 25px;
    border-radius: 10px;
}

.cards .card-logo {
    padding: 15px 0;
}

.cards .card-head {
    padding: 10px 0;
}

.cards .card-head-active {
    padding: 10px 0;
    color: #3400ff;
}

.cards .card-body {
    font-size: 14px;
}

.blog-heading {
    padding: 0 60px;
    margin-bottom: 30px;
}

.blog-cards {
    padding: 0 60px;
    display: flex;
    flex-direction: row;
}

.blog-card {
    background-color: white;
    border-radius: 70px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 40%;
    height: 320px;
    margin-right: 40px;
    position: relative;
}

.blog-image {
    float: left;
}

.blog-image img {
    height: 320px;
}

.blog-content {
    float: right;
    margin-top: 20px;
    margin-right: 40px;
}

.blog-content h6 {
    color: #3400ff;
}

.blog-content h3 {
    padding: 20px 0;
}

.blog-bottom {
    position: absolute;
    bottom: 3%;
    right: 30%;
}

.blog-author {
    position: absolute;
    bottom: 10%;
    right: 20%;
    font-size: x-small;
    font-weight: bold;
}

.faq-section {
    margin-top: 30px;
    padding-left: 60px;
    background-color: #dcf0ff;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.faq-content h2 {
    padding-top: 30px;
}

.faq-content h4 {
    padding-top: 20px;
}

.faq-content button {
    background-color: #3400ff;
    color: #ffffff;
    border: none;
    padding: 5px 30px;
    border-radius: 5px;
    margin-top: 20px;
}

.faq-image img {
    height: 300px;
}

.download-section {
    padding: 40px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.download-content span {
    font-size: 20px;
}

.download-email form {
    background-color: #dcf0ff;
    border: 2px solid #cad5e2;
    border-radius: 30px;
    padding: 3px 5px;
    text-align: center;
}

.download-email input {
    border: none;
    background-color: transparent;
    width: 300px;
}

.download-email button {
    background-color: #3400ff;
    color: #ffffff;
    border: none;
    padding: 5px 30px;
    border-radius: 30px;
}

.footer-section {
    height: 150px;
    padding: 30px 60px;
    background-color: #3400ff;
}

.footer-left {
    float: left;
}

.footer-left .list,
.footer-right .list {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-left .list li,
.footer-right .list li {
    list-style: none;
    margin-right: 30px;
    color: #ffffff;
    cursor: pointer;
}

.footer-right {
    float: right;
    margin-top: 20px;
}

.footer-right .logos-list img {
    margin: 0 10px;
    cursor: pointer;
}